@media screen and (width : 1920px) {
    section{
        margin: 80px;
    }
    table{
       font: 16px/1.5 Helvetica, sans-serif;
       font-weight: bold;
       border-collapse: collapse;
       border: 1px solid rgb(220, 220, 220);
    }
    td{
        border-collapse: collapse;
        width: 300px;
        border: 1px solid rgb(220, 220, 220);
    }
    table tbody tr:nth-child(odd){
        background-color: rgb(240, 240, 240);
    }
    
    table tbody tr:hover{
        border: 1px solid rgb(0, 0, 0);
        background-color:rgb(0, 0, 0);
        color: rgb(255, 255,255);
    }
    table thead tr{
        width: 300px;
        text-align: left;
        background-color: rgb(71, 67, 67);
        color: white;
    }
}

@media screen and (max-width : 1900px){
    /* section{
        margin: 80px;
    }
    table{
        display: flex;
    }
    thead tr{
        display: flex;
        flex-direction: column;
    }
    tbody tr{
        display: flex;
        flex-direction: column;
    }
    tr{
        
        text-align: left;
    } */
    /* table {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      tbody {
          display: flex;
          flex-direction: row;
      }
      tr {
          display: flex;
          flex-direction: column;
      } */
      thead {
        float:left
    }
    tbody {
        float:right
    }
    thead th {
        display: block;
        border: 1px solid black;
    }
    tbody td {
        display: block;
        border: 1px solid black;
    }
    thead th:first-child {
        display:none;
    }
    td:first-child {
        position: absolute;
        left: 0;
        top: 0;
        border: 1px solid black;
        border-width: 1px 0 1px 1px;
        padding-right: 5px;
    }
    td:first-child img {
        display: block;
    }
    .views-table {
        margin-left: 90px;
        border: none;
    }
    .view-content {
        display: inline-block;
        position: relative;    
    }
}
