body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
li{
    padding: 20px;
    margin: 20px;
    display: flex;
    width: 250px;
    height: 350px;   
    justify-content: center;  
    border: 7px solid black;   
}
img{
    object-fit: none;
    max-width: 250px;
    max-height: 350px;
}
section{
   width: 1100px;
}